<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surffisovellus</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.0/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-nSWgl7CJFJCf+P3/hydIfpiKkIbBTfwfFpvXN4VKYCwaWJ/OAC+OwTlJp/8fKTao" crossorigin="anonymous">  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Surffisovellus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('luokat_index') }} ">Kilpailuluokat</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('kilpailut_index') }}">Kilpailut</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('kilpailijat_index') }}">Kilpailijat</a>
          </li>

          {% if current_user.role == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('luokat_form') }} ">Lisää kilpailuluokka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('kilpailut_form') }}">Lisää kilpailu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('kilpailijat_form') }}">Lisää kilpailija</a>
          </li>
          {% endif %}

        </ul>
      </div>

        {% if current_user.is_authenticated %}
          <div class="navbar-text">
            Sisäänkirjautunut tunnuksella: {{ current_user.name }}
          </div>
          <div class="navbar-text" style="padding-left:16px;">
            <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
            {% else %}
              <div class="navbar-text">
                <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a>
                {% endif %}
              </div>
          </div>
      </div>
    </nav>

    <main role="main" class="container">
      {% block body %}
      <p>
        Sisältö
      </p>
      {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>