{% extends "layout.html" %}

{% block body %}
{% if current_user.rooli_id == 1 %}
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rooli</th>
      </tr>
    </thead>
    <tbody>
      {% for rooli in roolit %}
      <tr>
        <td>{{ rooli.id }}</td>
        <td>{{ rooli.name }}</td>
        <td>
          
          <div class="d-flex flex-row justify-content-around">
            <form method="GET" action="{{ url_for('roolit_show', rooli_id=rooli.id) }}">
              <input class="btn btn-primary" type="submit" value="Muokkaa">
            </form>
            <form method="POST" action="{{ url_for('roolit_delete', rooli_id=rooli.id) }}">
              <input class="btn btn-primary" type="submit" value="Poista">
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center links">
      <form method="GET" action="{{ url_for('roolit_form') }}">
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Lisää rooli"/>
        </div>
      </form>
  </div>
{% endif %}
{% endblock %}