{% extends "layout.html" %}

{% block body %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Luokka</th>
      </tr>
    </thead>
    <tbody>
      {% for luokka in luokat %}
      <tr>
        <td>{{ luokka.name }}</td>
        <td>
          {% if current_user.role == 'admin' %}
          <div class="d-flex flex-row justify-content-around">
            <form method="GET" action="{{ url_for('luokat_show', luokka_id=luokka.id) }}">
              <input class="btn btn-primary" type="submit" value="Muokkaa">
            </form>
            <form method="POST" action="{{ url_for('luokat_delete', luokka_id=luokka.id) }}">
              <input class="btn btn-primary" type="submit" value="Poista">
            </form>
          </div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}