{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <div class ="form-group">
      {{ form.username.label }}
      {{ form.username(class="form-control", placeholder="Tunnus") }}
  </div>

  <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control", placeholder="Salasana") }}
  </div>
  <button type="submit" class="btn btn-primary">Kirjaudu</button>
</form>
  <div class="d-flex justify-content-center links">
    <form method="GET" action="{{ url_for('auth_form') }}">
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Rekisteröidy"/>
      </div>
    </form>
  </div>
</div>

{% endblock %}